body {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 75px;
}
th,
td {
  border: 1px solid;
  padding: 15px;
  text-align: center;
}

th {
  font-weight: bold;
}
